@charset "UTF-8";
/* CSS Document */

/* スマホ用CSSをベースに記述する */

	html{
	font-size:62.5%;
}
/*	1rem=10px*/


body {
	font-family:"游ゴシック体","YuGothic", "游ゴシック", "Yu Gothic" "sans-serif";	
	height: 100vh;
	
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.logo picture img{
	width: 75.46%;
	position: absolute;
	top: 6.2%;
	left: 12.26666%;
	z-index: 1;

}

/*ナビメニューのスタイルを指定*/

.NavMenu{
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background:#ddf84c;
	width: 89.33333333%;
	height: 93.2222222%;
/*	transform: translateY(30%);*/
	transition: all 0.6s;
}

.NavMenu ul{
	height: 63.45454545%;
    width: 31.04%;
	position: relative;
	top: 14%;
    left: 17.91044%;
}


.NavMenu ul li{
	text-align: left;
	font-size: 2rem;
	font-weight: bold;
	font-family: "Montserrat";
	margin-bottom: 1.1rem;
	letter-spacing: 0.15rem;
}

.NavMenu ul li:last-child{
　padding-bottom: 0;
　border-bottom: none; /*最後のメニュー項目のみ下線を消す*/
}

/*
.NavMenu ul li a{
　display: block; クリックできる領域を広げる
　color: #000;
　padding: 1em 0;
}
*/
.NavMenu a{
	display: block;
	}

.icom_sns{
	position: relative;
	top: 16%;
	height: 17.191977077%;
	width: 19.23%;
}

.icom_sns a:nth-child(2){
	position: absolute;
    top: 66.66666666%;
}


/*ハンバーガーメニュー*/

/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
/*
    right: 25px;
    top: 30px;
*/
	top: 30.5px;
	right: 25px;
    width: 9.333333333%;
	height: 8.72881%;
    z-index: 4;
	background-color: #FFFFFF;
}

 
.Toggle span {
    display: block;
    position: absolute;
    width: 35px;
/*	right: 25px;*/
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
    
}
  
.Toggle span:nth-child(2) {
    top: 9px;
}
 
.Toggle span:nth-child(3) {
    top: 18px;
}

.Toggle span:nth-child(4) {
    top: 27px;
}

.text::before{
	content: "MENU";
	display: block;
	position: absolute;
	top:29.55px;
/*	right: 25px;*/
	font-family: "Montserrat";
	font-size:10px;
	font-weight: bold;
	letter-spacing: 0.1em;
}

/*メニューバーオープン時*/

.Toggle.open span:nth-child(2) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
.Toggle.open span:nth-child(3){
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Toggle.open span:nth-child(4){
	display: none;
}

.Toggle_back.open{
	background-color:#FFFFFF;
	z-index: 3;
    position: absolute;
	width: 84px;
    height: 110px;
    top: 0;
    right: 0;
}

.text.open::before {
	content:"CLOSE";
	font-size:9px;
	display: block;
}
/*トグルボタンが押されたときに付与するクラス*/
.NavMenu.open{
	display: block;
}


#container.open{
	display: none;
}

/*背景*/

#container{
	background-color: #ddf84c;
	width: 89.3333333%;
	height: 61.69%;
	position: fixed;
	left: 5.33333%;
	top: 31.5%;
}

/*画像*/
/*

#illust {
	position: absolute;
}
*/

.contact{
	width: 31.34328%;
	position: absolute;
	left: 1.5%;
	top: 67.5%;
}

.gallery{
	width: 72.835%;
	position:absolute;
	left: 5.6%;
    top: 16.4%;
}
.profile{
	width: 45.373%;
	position: absolute;
	left: -3.5%;
    top: -6.1%;
}
.works{
	width:  27.462%;
	position: absolute;
	right: -1.7%;
	top: 53.9%;
}
.top01{
	width: 16.119%;
	position: absolute;
	right:-1.6%;
	top: 16.5%;
}

.top02{
	width: 33.43%;
	position: absolute;
	right: 30.7%;
	top: 71.23%;
}

footer p {
	display: none;
}


/* PC用CSSをメディアクエリ内に記述する */
@media (min-width: 768px){
	.logo picture img{
		width: 249px;
		height: 311px;
		top: 84px;
		left: 63px;
		z-index: 4;
	}	
	
	.NavMenu{
		display: block;
		background-color: #FFFFFF;
		width: 0;
		height: 0;
		position: absolute;
		top: 460px;
		left: 70px;
		margin: 0;
		
		
	}
	.NavMenu ul{
		width: 84px;
		height: 267px;
		top: -36px;
		left: 0;
	}
	
	.NavMenu ul li{
		font-size: 15px;
		margin-top: -17px;
		vertical-align: bottom;
		
	}
	

	
/*
	.NavMenu .icon_sns img{
		width: 100%;
	}
	
*/
		
	.Toggle_back{
		display: none;
	}
	
	#container{
		width: 1060px;
		height: 470px;
		position: relative;
		top: 257px;
		left: 277px;
	}
	
	#illust .contact{
		width: 190px;
		height: 258px;
		position: absolute;
		top: 149px;
		left: 71px;
	}
	
	#illust .gallery{
		width: 493px;
		height: 356px;
		position: absolute;
		top: 51px;
		left: 310px;
	}

	#illust .profile{
		width: 250px;
		height: 318px;
		position: absolute;
		top: -108px;
		left: 310px;
	}
	
	#illust .works{
		width: 138px;
		height: 274px;
		position: absolute;
		top: 143px;
		left: 847px;
	}
	
	#illust .top01{
		width: 112px;
		height: 214px;
		position: absolute;
		top: -136px;
		left: 107px;
	}
	
	#illust .top02{
		width: 210px;
		height: 152px;
		position: absolute;
		top: -197px;
		left: 717px;
	}
	
	footer p{
		display: inline;
		width: 319px;
		position: absolute;
		top: 742px;
		left: 1026px;
		font-family: "Roboto";
		font-weight: Medium Italic;
		font-size: 10px;
		letter-spacing: 0.184em;
		line-height: 11px;
	}
	
	
}



